/* ===== GREEN DOT - BIGGER ===== */
.luklukdot {
    width: 8px !important;
    height: 8px !important;
    min-width: 8px !important;
    min-height: 8px !important;

    display: inline-block;
    border-radius: 50%;
    background: #03511e;

    margin-right: 6px;
    padding: 0 !important;
    border: none !important;

    animation: greenBlink 0.7s ease-in-out infinite;
}@keyframes greenBlink {
    0%, 35% {
        opacity: 1;
    }

    65%, 100% {
        opacity: 0;
    }
}