
.last-updated-box {
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  max-width: 600px;
  margin: 10px auto;
  text-align: center;
  font-family: Arial, sans-serif;
}

.last-updated-box h1 {
  font-size: 1.8em;
  margin-bottom: 15px;
  color: #1a1a1a;
}

.last-updated-box #lastUpdated {
  font-weight: bold;
  color: #007BFF;
  transition: color 0.5s;
}

.last-updated-box #lastUpdated:hover {
  color: #ff5722;
}

/* Tablet / mobile responsiveness */
@media (max-width: 768px) {
  .last-updated-box {
    padding: 5px 10px;
    margin: 10px 5px;
  }

  .last-updated-box #lastUpdated {
    font-size: 5px;
  }
}

@media (max-width: 480px) {
  .last-updated-box {
    padding: 5px 2px;
    
  }
  .last-updated-box h1 {
    font-size: 10px;
  }
  .last-updated-box #lastUpdated {
    font-size: 10px;
  }
}
