* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 body {
    font-family: Arial, sans-serif;
    background: #f7f7f7;
    line-height: 1.4;
    }







/* ===== LOCATION ===== */
.location-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 5px 0;
  background-color: #dad8fb;   /* हलका sky blue */
  padding: 4px 0;
  border-radius: 8px;
}

.location-link {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  white-space: nowrap;
  text-decoration: none;
  font-weight: bold;
  color: #1b1b99;   /* deep blue */
  font-size: clamp(12px, 2.5vw, 16px);
}

/* 📍 Smooth Fade In - Fade Out */
.location-icon {
  animation: locationFade 0.6s ease-in-out infinite;

}

@keyframes locationFade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* "क्लिक करा" blink */
.click-anim {
  color: #d60000;
  animation: textBlink 1.2s infinite;
}

@keyframes textBlink {
  50% { 
    opacity: 0.3; 
  }
}
















/* ===== MENU SECTION  ===== */

.menu-container {
  width: 99%;
  height: auto;
  max-width: 1000px;
  margin: 5px auto;
  padding: 8px;
  border-radius: 12px;


  border: 1px solid #ff5722;
  border-top: 1px solid #ffbb00;
  border-bottom: 1px solid #ff9900;
 

  background-color: #f9f9e8;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);

  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect container */
.menu-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

/* Menu Buttons */
.menu-btn {
  flex: 1;
  text-align: center;
  padding: 9px 5px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;

  color: #bf360c;
  background: #f5e0c0;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px ;


  border: 1px solid #ff9900;

  transition: all 0.3s ease;
}

/* Button Hover */
.menu-btn:hover {
  background: #ff5722;
  color: white;
  transform: scale(1.05);
}










/* ===== FRAME ===== */
.photo-frame {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ===== SLIDER ===== */
.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  background: #f2eded;
  transition: height 0.4s ease;
}

/* ===== SLIDES ===== */
.slide {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: auto;
  object-fit: contain;
  background: #fff;
  transition: transform 0.8s ease-in-out;
}

.slide.active {
  transform: translateX(-100%);
}

.slide.exit {
  transform: translateX(-200%);
}

/* ===== BUTTONS ===== */
#prevBtn, #nextBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.4);
  color: #fff;
  border: none;
  padding: 6px 10px;
  font-size: 16px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

#prevBtn { left: 8px; }
#nextBtn { right: 8px; }

/* ===== PROGRESS BAR ===== */
.progress-bar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 3px;
  background: rgba(197, 17, 17, 0.1);
}


/* ✅ CAPTION (Soft + Transparent + Animation) */
.caption {
  width: 100%;
  background: #ff7a00; /* orange */
  color: #fff;
  text-align: center;
  padding: 2px 2px;
  font-size: 9px;
  font-weight: 500;
  letter-spacing: 0.5px;

  opacity: 0;
  transform: translateY(15px);
  transition: all 0.5s ease;

  backdrop-filter: blur(5px); /* 🔥 premium */
}

/* animation active */
.caption.show {
  opacity: 1;
  transform: translateY(0);
}


/* ===== DOTS ===== */
.dots {
  text-align: center;
 
}

.dot {
  height: 5px;
  width: 5px;
  margin: 2.5px;
  background: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: all 0.3s ease;
}

/* active dot */
.dot.active {
  background: #000000;
  transform: scale(1.3);
}




.play-pause {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  font-size: 20px; /* 🔥 smaller icon */
  color: #fff;
  
  background: rgba(117, 115, 115, 0.5);
  border-radius: 50%;
  padding: 6px 10px; /* 🔥 reduced padding */

  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
  z-index: 30;
}

.play-pause.show {
  opacity: 1;
}








/* Info Box 1 - माझ्या रंगसंगतीसह, Text Centered */
.info-box1 {
  border: 2px solid #ff5722;       
  border-radius: 20px;
  border-top:1px solid #157bbb; 
  border-bottom:1px solid #ff9900; 
  padding: 15px;
  background-color: #fff3e0;       
  color: #bf360c;             
  max-width: 900px;
  margin: 10px auto;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;               
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect */
.info-box1:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

/* Heading style */
.info-box1 h2 {
  color: #e64a19;                  
  font-size: 26px;
  margin-bottom: 15px;
}

/* Paragraph style */
.info-box1 p {
  font-size: 18px;
  line-height: 1.6;
}

/* Responsive design */
@media (max-width: 768px) {
  .info-box1 {
    padding: 12px;
    font-size: 16px;
  }
  .info-box1 h2 {
    font-size: 22px;
  }
  .info-box1 p {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .info-box1 {
    padding: 8px;
    font-size: 14px;
  }
  .info-box1 h2 {
    font-size: 20px;
  }
  .info-box1 p {
    font-size: 12px;
  }
}




/* Info Box 2 - माझ्या रंगसंगतीसह, Text Centered */
.info-box2 {
  border: 2px solid #8e44ad;      
  border-radius: 20px;
  padding: 15px;
  border-top:1px solid #bd3ca3; 
  border-bottom:1px solid #ff0000; 
  background-color: #f3e5f5;       
  color: #4a148c;                 
  max-width: 900px;
  margin: 10px auto;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;              
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect */
.info-box2:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

/* Heading style */
.info-box2 h2 {
  color: #6a1b9a;                  /* मध्यम जांभळट */
  font-size: 26px;
  margin-bottom: 15px;
}

/* Paragraph style */
.info-box2 p {
  font-size: 18px;
  line-height: 1.6;
}

/* Responsive design */
@media (max-width: 768px) {
  .info-box2 {
    padding: 12px;
    font-size: 16px;
  }
  .info-box2 h2 {
    font-size: 22px;
  }
  .info-box2 p {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .info-box2 {
    padding: 8px;
    font-size: 14px;
  }
  .info-box2 h2 {
    font-size: 20px;
  }
  .info-box2 p {
    font-size: 12px;
  }
}









/* ===== PAGE TITLE ===== */
.page-title{
text-align:center;
margin:10px 0;
color:#b30000;
font-size:20px;
}




/* ===== UPLOAD BUTTON ===== */

.upload-btn-box{
text-align:center;
margin:5px 0;
}

.upload-btn{
display:inline-block;
background:#b30000;
color:#fff;
padding:5px 10px;
border-radius:8px;
text-decoration:none;
font-size:12px;
font-weight:bold;
transition:0.3s;
width:97% ; 
text-align:center;
}

.upload-btn:hover{
background:#ff0000;
transform:scale(1.05);
}

/* ===== MONTH TITLE ===== */

.month-title{
font-size:1.4rem;
font-weight:bold;
margin:20px 10px 10px;
color:#000000;
border-bottom:2px solid #e4e4e1;
}

/* ===== GALLERY GRID ===== */

.gallery{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:8px;
padding:10px;
}

.gallery img{
width:100%;
aspect-ratio:1/1;
object-fit:cover;
cursor:pointer;
border-radius:10px;
transition:transform 0.3s ease;
}

.gallery img:hover{
transform:scale(1.05);
}

/* ===== RESPONSIVE GALLERY ===== */

/* Tablet */
@media (min-width:768px){

.gallery{
grid-template-columns:repeat(4,1fr);
}

}

/* Laptop / Desktop */
@media (min-width:1200px){

.gallery{
grid-template-columns:repeat(6,1fr);
}

}

/* ===== FULL SCREEN MODAL ===== */

.modal{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:#000;
display:none;
overflow:hidden;
}

.modal-track{
display:flex;
height:100%;
width:100%;
transition:transform 0.35s ease;
}

.modal-track img{
width:100%;
height:100%;
object-fit:contain;
flex-shrink:0;
}

/* ===== CLOSE BUTTON ===== */

.close-btn{
position:absolute;
top:25px;
right:15px;
font-size:15px;
color:#fff;
cursor:pointer;
z-index:10;
background:rgba(255,255,255,0.5);
padding:5px 10px;
border-radius:5px;
transition:background 0.3s ease;
}

.close-btn:hover{
background:rgba(255,0,0,0.7);
}








/* ===== SKELETON LOADER IMAGE===== */

.skeleton-grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:8px;
padding:10px;
}

.skeleton{
width:100%;
aspect-ratio:1/1;
border-radius:10px;

background:linear-gradient(
90deg,
#9d9c9c 25%,
#dddddd 37%,
#eeeeee 63%
);

background-size:400% 100%;
animation:skeleton-loading 1.4s ease infinite;
}

@keyframes skeleton-loading{

0%{
background-position:100% 50%;
}

100%{
background-position:0 50%;
}

}



/* ===== SKELETON LOADER VIDEO ===== */

.skeleton-grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:10px;
  padding:15px;
}

/* 🔥 FIX: video-card सारखाच size */
.skeleton-box{
  width:97%;
  aspect-ratio:11/16;   /* ✔ video-card same */
  border-radius:12px;

  background:linear-gradient(
    90deg,
    #7d7d7d 25%,
    #4c4848 37%,
    #90a0c4 63%
  );

  background-size:400% 100%;
  animation:skeleton-loading 1.2s infinite;
}

@keyframes skeleton-loading{
  0%{background-position:100% 50%;}
  100%{background-position:0 50%;}
}

/* 💻 Laptop वर skeleton पण 6 columns */
@media (min-width:1024px){
  .skeleton-grid{
    grid-template-columns:repeat(6,1fr);
  }
}

/* ===== VIDEO GRID ===== */

.video-gallery{
  display:grid;
  grid-template-columns:repeat(3,1fr); /* 📱 Mobile */
  gap:10px;
  padding:15px;
}

/* 💻 Laptop / Desktop */
@media (min-width:1024px){
  .video-gallery{
    grid-template-columns:repeat(6,1fr);
  }
}

/* ===== VIDEO CARD ===== */

.video-card{
  position:relative;
  width:97%;
  aspect-ratio:11/16;   /* ✔ same as skeleton */
  overflow:hidden;
  border-radius:12px;
  cursor:pointer;
  background:#111;
  box-shadow:0 3px 10px rgba(0,0,0,0.25);

  opacity:0;
  transform:scale(0.9);
  transition:all 0.4s ease;
}

/* ✅ Animation show */
.video-card.show{
  opacity:1;
  transform:scale(1);
}

/* Hover */
.video-card:hover{
  transform:scale(1.05);
}

/* ===== VIDEO ===== */

.video-card video{
  width:100%;
  height:100%;
  object-fit:cover;
  display:block;
}

/* ===== PLAY BUTTON ===== */

.video-card::after{
  content:"▶";
  position:absolute;
  font-size:26px;
  color:#fff;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  background:rgba(0,0,0,0.5);
  width:50px;
  height:50px;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  pointer-events:none;
}

/* ===== MONTH TITLE ===== */

.month-title{
  font-size:18px;
  font-weight:bold;
  padding:10px 15px;
  color:#333;
}

/* ===== MODAL ===== */

.video-modal{
  position:fixed;
  inset:0;
  background:#000;
  display:none;
  align-items:center;
  justify-content:center;
  z-index:999;
}

/* ===== SLIDER ===== */

.modal-track{
  display:flex;
  width:100%;
  height:100%;
  transition:transform 0.4s ease;
}

.modal-track video{
  min-width:100%;
  max-height:100%;
  object-fit:contain;
  background:#000;
}

/* ===== SCROLL ===== */

html{
  scroll-behavior:smooth;
}





/* ===== नवनाथ गड अभ्यासिका ===== */

.abhyashika {
  width:99%;
  height:auto;
  max-width: 1000px;
  margin: 5px auto;
  padding: 8px;
  border: 1px solid #ef8e33;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px ;

  background-color: #690f67;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);

  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 7px;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect container */
.abhyashika:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

/* Menu Buttons */
.abhyashika-btn {
  flex: 1;
  text-align: center;
  padding: 10px 5px;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
 

  color: #21126e;
  background: #ffffff;

   border-top-left-radius: 100px;
 border-bottom-right-radius: 100px ;
  border: 1px solid #ab995f;

  transition: all 0.3s ease;
}

/* Button Hover */
.abhayashika-btn:hover {
  background: #ff5722;
  color: white;
  transform: scale(1.05);
}




/* ===== update notice ===== */
.page-title-suchana {
    text-align: center;
    margin: 20px 0;
    color: #ff0000;
    font-size: 10px;
}







